folders.db filter=lfs diff=lfs merge=lfs -text
journal.db filter=lfs diff=lfs merge=lfs -text
playlists.db filter=lfs diff=lfs merge=lfs -text
combats.db filter=lfs diff=lfs merge=lfs -text
fog.db filter=lfs diff=lfs merge=lfs -text
items.db filter=lfs diff=lfs merge=lfs -text
macros.db filter=lfs diff=lfs merge=lfs -text
tables.db filter=lfs diff=lfs merge=lfs -text
users.db filter=lfs diff=lfs merge=lfs -text
chat.db filter=lfs diff=lfs merge=lfs -text
scenes.db filter=lfs diff=lfs merge=lfs -text
settings.db filter=lfs diff=lfs merge=lfs -text
actors.db filter=lfs diff=lfs merge=lfs -text
drawings.db filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
